//COLORS
//BACKGROUNDS
$main-background: #1D2125;
$raised-background: #24292E;

//TEXTS
$primary-text: #42A4FA;
$complementary-text: #127BC4;
$primary-text-label: #FBFBFBBF;
$secondary-text: #F37E51;
$disabled-text: #7F7F7F;

//GLOBAL
$disabled-color: #D9D9D9;
$light-gray: #FBFBFB;
$error: #F55757;
$opaque-error: #F55757BF;
