<div class="register-form-container">
  <h1 class="main-header-title">REGISTRO CLIENTES</h1>
  <form class="input-form form-margin" [formGroup]="registerForm" autocomplete="off">

    <div class="input-row-container">
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Primer Nombre</mat-label>
        <input matInput type="text" formControlName="firstName" (keyup.enter)="register()"/>
      </mat-form-field>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Segundo Nombre</mat-label>
        <input matInput type="text" formControlName="secondName" (keyup.enter)="register()"/>
      </mat-form-field>
    </div>

    <div class="input-row-container">
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Primer Apellido</mat-label>
        <input matInput type="text" formControlName="lastName" (keyup.enter)="register()"/>
      </mat-form-field>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Segundo Apellido</mat-label>
        <input matInput type="text" formControlName="secondLastName" (keyup.enter)="register()"/>
      </mat-form-field>
    </div>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Edad</mat-label>
      <input matInput type="number" formControlName="age" (keyup.enter)="register()"/>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput type="text" maxlength="10" formControlName="phone" (keyup.enter)="register()"/>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" formControlName="email" (keyup.enter)="register()"/>
    </mat-form-field>

    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="showPass ? 'text' : 'password'" formControlName="password" (keyup.enter)="register()"/>
      <mat-icon class="icon-size" (click)="showPass = !showPass" [svgIcon]="showPass ? 'visibility-on' : 'visibility-off'">
      </mat-icon>
    </mat-form-field>

    <div class="button-container">
      <button type="submit" mat-button class="btn-primary" (click)="register()">
        REGISTRARSE
      </button>
      <button type="button" mat-button class="btn-secondary" (click)="goBack()">
        VOLVER
      </button>
    </div>
  </form>
</div>
