@import 'src/assets/scss/colors';
@import 'src/assets/scss/input';
@import 'src/assets/scss/buttons';
@import 'src/assets/scss/display';

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $raised-background;
  width: 55%;
  height: 80%;
  border-radius: 4rem;
  box-shadow: 0 .5rem .625rem .25rem #00000019;

  .main-header-title {
    margin-bottom: 5rem;
  }
  .button-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

