@import 'src/assets/scss/colors';
@import 'src/assets/scss/input';
@import 'src/assets/scss/buttons';
@import 'src/assets/scss/display';

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $raised-background;
  width: 48%;
  height: 74%;
  border-radius: 50px;
  box-shadow: 0 8px 10px 4px #00000019;

  .main-header-title {
    margin-bottom: 5rem;
  }
  .button-container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .btn {
        width: 70%;
    }
  }
}

