<div class="dashboard-container">
  <div class="dashboard-header">
    <h1 class="main-header-title">{{ dashboardTitle }}</h1>
    <button type="button" *ngIf="isAdmin" mat-button class="btn btn-primary{{previewRentedGames ? '' : '-outlined'}}" (click)="actionButton()">
      {{ buttonTitle }}
    </button>
  </div>
  <div class="dashboard-body" [class]="isAdmin && !previewRentedGames ? 'admin-view' : ''">
    <div *ngIf="isAdmin && !previewRentedGames" class="extra-information-container">
      <span class="big-sized-text">Cliente más frecuente: <span class="regular-sized-text"> {{ mostFrequentClient }} </span></span>
      <span class="big-sized-text">Juego más rentado: <span class="regular-sized-text"> {{ mostRentedGame }} </span></span>
    </div>
    <div class="table-container" *ngIf="displayableData.length === 0; else table">
      <span *ngIf="loading; else emptyTable" class="secondary-title">
        Cargando...
      </span>

      <ng-template #emptyTable>
        <span class="secondary-title">
          No hay datos para mostrar
        </span>
      </ng-template>
    </div>
    <ng-template #table>
      <app-table (action)="claimGame($event)" [data]="displayableData" [hidePaginator]="false"
         [displayedColumns]="isAdmin ?
            previewRentedGames ? adminRentedGamesDisplayedColumns : adminAgeRangeDisplayedColumns
            : userDisplayedColumns" [isAdmin]="isAdmin" [hidePageSize]="false">
      </app-table>
    </ng-template>
    <div *ngIf="isAdmin && !previewRentedGames" class="dashboard-buttons-container">
      <button type="button" mat-button class="btn btn-primary" (click)="checkTodaySoldItems()">
        CONSULTAR VENTAS DEL DÍA
      </button>
    </div>
  </div>
</div>
