<div class="game-list-body" [class]="hideFilter ? 'bigger-list-body' : ''">
  <div class="game-list-container">
    <h1 class="main-header-title"> LISTA DE JUEGOS </h1>
    <div class="loading-body" *ngIf="loading else games">
      <span class="secondary-title">Cargando...</span>
    </div>
    <ng-template #games>
      <div class="games-list">
        <div *ngFor="let game of filteredGamesList ? filteredGamesList : gamesList" class="game-container" [routerLink]="'/pantalla-principal/juego/'+game.id">
          <img class="game-image" [src]="game.image" alt="game image">
          <div class="game-information">
            <span class="medium-small-sized-text"> {{ game.name }}</span>
            <span class="regular-small-sized-text"> {{ game.year }}</span>
            <span class="regular-small-sized-text"> {{ game.director }}</span>
            <span class="regular-small-sized-text"> {{ game.protagonist }}</span>
            <span class="regular-small-sized-text"> {{ game.producer }}</span>
            <span class="regular-small-sized-text"> {{ game.platform }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="expand-container" *ngIf="hideFilter; else filterContainer">
    <mat-icon class="filter-expand-icon" (click)="hideFilter = false" svgIcon="expand"></mat-icon>
  </div>
  <ng-template #filterContainer>
    <div class="filters-container">
      <form class="input-form" [formGroup]="filterForm" autocomplete="off">
        <mat-form-field class="filter-input-container input-field" appearance="outline">
          <mat-label>Filtrar por nombre</mat-label>
          <input matInput type="text" formControlName="filter" (keyup.enter)="filter()"/>
          <mat-icon class="filter-input-icon icon-size" (click)="filter()" svgIcon="search"></mat-icon>
        </mat-form-field>

        <div class="filter-body">
          <div class="filter-body-header">
          <span class="medium-sized-text">
            Filtrar
          </span>
            <mat-icon svgIcon="filter" class="filter-icon"></mat-icon>
          </div>
          <mat-radio-group class="filter-body-container" formControlName="radioButton">
            <mat-radio-button value="gameTitle" labelPosition="after">Título del juego</mat-radio-button>
            <mat-radio-button value="gameDirector" labelPosition="after">Director de juego</mat-radio-button>
            <mat-radio-button value="gameProtagonist" labelPosition="after">Protagonistas del juego</mat-radio-button>
            <mat-radio-button value="gameProducer" labelPosition="after">Productor y/o marca del juego</mat-radio-button>
            <mat-radio-button value="gameYear" labelPosition="after">Fecha de lanzamiento</mat-radio-button>
          </mat-radio-group>
          <div class="filter-button-container">
            <button type="button" mat-button class="btn btn-primary" (click)="filter()">
              FILTRAR
            </button>
            <button type="button" mat-button class="btn btn-secondary" (click)="clearFilters()">
              LIMPIAR FILTROS
            </button>
          </div>
        </div>
        <div class="expand-container">
          <mat-icon class="filter-expand-icon rotated" (click)="hideFilter = true" svgIcon="expand"></mat-icon>
        </div>
      </form>
    </div>
  </ng-template>
</div>
